{% extends "Blog/madre.html" %}


{% block head %}
    <title>Campus de Viajes</title>
{% endblock head %}


{% block body %}
    <h1>Acerca de Ignacio Echeverria</h1>

    <center><img src="https://media-exp1.licdn.com/dms/image/C4D03AQHItHBdxvbsiQ/profile-displayphoto-shrink_800_800/0/1623698292464?e=1674086400&v=beta&t=XLMMkifaM_gYOmTMESPj9I2jukWR-HczsmDT2_0yjWk" width="300" wide="300"></center>



    
    <p>Me llamo Ignacio Echeverria, soy licenciado en Adm. de Empresas y actualmente me encuentro trabajando en el banco Itaú en el área de Procesos.</p>
    <p>Quise estudiar Python para tener una visión de la herramienta y en un futuro poder volcar este conocimiento para el área de Data Analytics.</p>

{% endblock body %}

