{% extends 'Blog/madre.html' %}


        {% block head %}
        <title>Agregar Avatares</title>
        {% endblock%}

        {% block body %}
        <h1>En esta sección puedes agregar Avatares.</h1>

        {% endblock%}

        {% block pais %}

        <form action="" method="POST" enctype="multipart/form-data">  {% csrf_token %}

            <table>

                {{form.as_p}}

            </table>

            <input type="submit" value="Submit">


        </form>

        {% endblock %}

