{% extends "Blog/madre.html" %}

{% block head %}
    <title>Viaja a Europa</title>
{% endblock head %}

{% block body %}
<h1>{{mensaje}}</h1>
    <h1>Bienvenidos a nuestro Blog de Viajes!</h1>
    <p>Acá vas a poder cargar tus Destinos favoritos!

        <center><img src="https://www.goredforwomen.org/-/media/AHA/H4GM/Article-Images/travel.jpg" width="500" wide="500"></center>
    </p>

{% endblock body %}

{% block Pais %}
<div class="col-lg-4">
    <!-- Search widget-->
    <div class="card mb-4">
        <form action="Blog/resultado_busqueda.html" method="GET">
            <div class="card-header">Buscar Opiniones de Paises</div>
            <div class="card-body">
                <div class="input-group">
                    <input class="form-control" type="text" placeholder="Ingresa la Pais..." name="pais" id="pais" />
                    <input type="submit" value="Buscar">
                </div>               
            </div>         
        </form>               
    </div>
</div>

{% endblock %}