{% extends "Blog/madre.html" %}
{% block inserte_aqui_su_contenido %}


<h1>Cursos de Coder - Python </h1>
{% if object_list %}

    <ul>
        {% for pais in object_list %}

        <li>
            <p>Nombre: {{ pais.nombre }}</p>
            <p>
                <a href="{% url 'PaisDetail' pais.id %}">Ver pais</a>
                <a href="{% url 'PaisUpdate' pais.id %}">Editar</a>
                <a href="{% url 'PaisDelete' pais.id %}">Borrar</a>
            </p>

        </li>
        {% endfor %}
    </ul>
{% else %}
<h3>No hay pais aún!</h3>
{% endif %}
{% endblock %}










